<?xml version="1.0"?>
<robot name="urdfbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="scl" value="0.001"/>
  <xacro:property name="PI" value="3.14159265335897931" />

  <ros2_control name="DynamixelHardware" type="system">
    <hardware>
      <plugin>dynamixel_hardware/DynamixelHardware</plugin>
      <param name="usb_port">/dev/ttyUSB0</param>
      <param name="baud_rate">57600</param>
    </hardware>
    <joint name="motor_left_to_left_rim">
      <param name="id">2</param>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="motor_right_to_right_rim">
      <param name="id">1</param>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin
      filename="gz-sim-diff-drive-system"
      name="gz::sim::systems::DiffDrive">
      <left_joint>motor_left_to_left_rim</left_joint>
      <right_joint>motor_right_to_right_rim</right_joint>
      <wheel_separation>0.305</wheel_separation>
      <!-- <wheel_separation>0.265</wheel_separation> -->
      <wheel_radius>0.0325</wheel_radius>
      <topic>cmd_vel</topic>
      <odom_publish_frequency>10</odom_publish_frequency>
      <odom_topic>odom</odom_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
      <tf_topic>tf</tf_topic>
    </plugin>
    <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
    </plugin>
    <plugin
        filename="gz-sim-pose-publisher-system"
        name="gz::sim::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <static_publisher>true</static_publisher>
        <static_update_frequency>1</static_update_frequency>
    </plugin>
  </gazebo>
</robot>